body {
    max-width: 650px;
    margin: 40px auto;
    padding: 0 10px;
    font: 18px/1.5 Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color: #444;
}

.key {
    color: #888;
}

.value {
    font-weight: bold;
}

.value > * {
    margin-right: 20px;
}

.input {
    display: flex;
    justify-content: center;
    transform: scale(1.3);
}

table {
    border-spacing: 14px;
}

td {
    padding: 0px 0px 0px 30px;
}

input {
    width: 35px;
}
